/*formulario*/

form {
    margin: 0 15px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btnformulario {
    background-color: $color-mostaza;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
}