header {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to right, $color-mostaza, $color-amarillo);
}